aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
annotated-types==0.7.0
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.13.3
Bottleneck==1.4.2
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
cycler==0.11.0
datasets==3.1.0
debugpy==1.6.7
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.13.1
fonttools==4.51.0
frozenlist==1.5.0
fsspec==2024.10.0
fsspec==2024.9.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
h5py==3.13.0
hickle==5.0.3
huggingface_hub==0.26.5
idna==3.7
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.29.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.4
lightning-utilities==0.14.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.7
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
nest_asyncio==1.6.0
networkx==3.3
numexpr==2.10.1
numpy==1.26.4
opencv-python==4.10.0
opencv-python-headless==4.10.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
parso==0.8.4
pickleshare==0.7.5
pillow==11.0.0
pip==24.2
platformdirs==4.3.6
playwright==1.51.0
ply==3.11
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.4
psutil==5.9.0
pure_eval==0.2.3
pyarrow==16.1.0
pydantic==2.10.6
pydantic_core==2.27.2
pyee==12.1.1
Pygments==2.18.0
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==305.1
PyYAML==6.0.2
pyzmq==25.1.2
regex==2024.11.6
requests==2.32.3
rfm==1.0
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
sentry-sdk==2.24.1
setproctitle==1.3.5
setuptools==75.1.0
sip==6.7.12
six==1.16.0
smmap==5.0.2
soupsieve==2.6
stack-data==0.6.2
sympy==1.13.1
threadpoolctl==3.5.0
timm==1.0.12
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.2
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
typing_extensions==4.12.2
tzdata==2023.3
unicodedata2==15.1.0
urllib3==2.2.3
wandb==0.19.8
wcwidth==0.2.13
wheel==0.44.0
win-inet-pton==1.1.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.1
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
